# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa

.classpath
.project
.idea/
.settings/
.svn/
.webapp-conf/

*.iml


*.war
*.lst

target/
sessionStore
log/